<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form" action="/valida" method="get">    
      <p>
      <select  id="usuario" name="usuario">        
        <% if(users){ %>
            <% for(var i=0; i < users.length; i++){ %>
                <option value=<%= users[i].usuario %>   > <%= users[i].usuario %></option> 
            <% } %>
        <% } %>
      </select>
    </p>

    <p>
    <input type="password" id="clave" name="clave" placeholder="Contraseña" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Ingresar">
    </p>
  </form>
  <div id="create-account-wrap">
   
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>
